/* Carousel base class */
.carousel {
  max-height: 600px;
}

/* caption */
.carousel-caption {
  z-index: 10;
  top:10%;
  .carousel-heading {
    font-size: 72px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .carousel-heading3 {
    color: $carousel-h3-color;
    font-size: 26px;
  }

  @media screen and (max-width: 768px){
    .carousel-caption{
      top:0
    }
    .carousel-heading {
      font-size: 35px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .carousel-heading3 {
      color: $carousel-h3-color;
      font-size: 18px;
    }

  }
}

/* Declare heights because of positioning of images element */
carousel .item {
  //height: 600px;
  background-color: #000;
}

.carousel-inner > .item > img {
  filter: opacity(0.5)
}
/* navigation */
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: yellow //$primary-color;
}

.carousel-indicators li {
  border-color: yellow; //$primary-color;
}

.carousel-indicators li.active {
  background-color: yellow; //$primary-color;
}


// Mobile
@media screen and (max-width: 320px) {
  .carousel {
    width: 300px;
    height: 180px;
    margin-bottom: 30px;
  }

  .carousel-indicators li {
    display: none;
  }
  .carousel .item {
    width: 300px;
    height: 180px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    width: 300px;
    height: 180px;
  }
  .carousel-caption {
    z-index: 10;
    top: 0;

    .carousel-heading {
      font-size: 24px;
    }
    .carousel-heading3 {
      font-size: 10px;
      color: $carousel-h3-color;
    }
    .btn-resized {
      width: 150px;
      height: 33px;
      font-size: 10px;
    }
  }

}