/* Carousel base class */
.carousel {
  max-height: 600px;
}

/* caption */
.carousel-caption {
  z-index: 10;
  top: 20%;
  @media screen and (min-width: 1200px) {
    .carousel-heading {
      font-size: 72px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .carousel-heading3 {
      color: $carousel-h3-color;
      font-size: 26px;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 906px) {
    top: 0;
    .carousel-heading {
      font-size: 35px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .carousel-heading3 {
      color: $carousel-h3-color;
      font-size: 18px;
    }
  }

  @media screen and(min-width: 320px) and (max-width: 601px) {
    .carousel-control.right, .carousel-control.left {
      display: none;
    }
    .carousel-indicators li {
      display: none;
    }
    .carousel-caption {
      z-index: 10;
      top: 0;

      .carousel-heading {
        font-size: 28px;
      }
      .carousel-heading3 {
        font-size: 16px;
        color: $carousel-h3-color;
      }
      .btn-resized {
        width: 150px;
        height: auto;
        font-size: 12px;
      }
    }

  }

}

/* Carousel imafe color filter*/
.carousel-inner {
  background-color: $carousel-image-filter-color;
}

.carousel-inner > .item > img {
  filter: opacity(0.5)
}
.carousel-heading{
  color: $carousel-heading-color;
}
/* navigation */
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: $carousel-navigation-color
}

.carousel-indicators li {
  border-color: y$carousel-navigation-color
}

.carousel-indicators li.active {
  background-color: $carousel-navigation-color
}

// Mobile
@media screen and (max-width: 320px) {
  .carousel {
     width: 320px;
     height: 180px;
     margin-bottom: 30px;
  }

  .carousel-indicators li {
    display: none;
  }
  .carousel .item {
    width: 320px;
    height: 180px;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    width: 320px;
    height: 180px;
  }
  .carousel-caption {
    z-index: 10;
    top: 0;

    .carousel-heading {
      font-size: 24px;
    }
    .carousel-heading3 {
      font-size: 16px;
      color: $carousel-h3-color;
    }
    .btn-resized {
      width: 150px;
      height: auto;
      font-size: 16px;
    }
  }

}