/* Carousel base class */
.carousel {
  height: 600px;
  //margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top:20%;
  .carousel-heading {
    font-size: 85px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .carousel-heading3 {
    color: $carousel-h3-color;
    font-size: 26px;
  }
}

/* Declare heights because of positioning of images element */
.carousel .item {
  height: 600px;
  background-color: #777;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: yellow //$primary-color;
}

.carousel-indicators li {
  border-color: yellow; //$primary-color;
}

.carousel-indicators li.active {
  background-color: yellow; //$primary-color;
}

.item span {
  font-style: normal;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}

.carousel-color-filter {
  height: 600px;
  position: relative;
  opacity: 0.45;

}

//# Mobile
@media screen and (max-width: 320px) {
  .carousel {
    width: 300px;
    height: 180px;
    margin-bottom: 30px;
  }

  .carousel-indicators li {
    display: none;
  }
  .carousel .item {
    width: 300px;
    height: 180px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    width: 300px;
    height: 180px;
  }
  .carousel-caption {
    z-index: 10;
    top: 0;

    .carousel-heading {
      font-size: 24px;
    }
    .carousel-heading3 {
      font-size: 10px;
      color: $carousel-h3-color;
    }
    .btn-resized {
      width: 150px;
      height: 33px;
      font-size: 10px;
    }
  }

}
