.footer-style {
  //height: 250px;
  //background-color: $footer-bg-color;
  //opacity: 0.5;
  background: linear-gradient(rgba(22, 22, 36, 0.8), rgba(32, 32, 46, 0.8)), url('../../images/footer.jpg');
  color: $footer-font-color;
  font-family: $footer-font-family;
  [class^=col-] {
    padding: 25px 100px;
  }
  .social-icon-footer a {
    color: $footer-font-color;
    i {
      padding: 5px;
    }
  }
  .social-icon-footer a:hover {
    color: $primary-color;
  }
  a {
    color: $footer-font-color;
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  a:hover {
    color: $primary-color;
  }
}
.footer-dark {
  background-color: $footer-bg-dark-color;
  color: $footer-font-color;
  font-family: $footer-font-family;
  padding: 10px 100px;
  font-size: 13px;
}

.glyphicon-color {
  color: $footer-glyphicon-color;
}

@media screen and (max-width: 992px) {
  .footer-style {
    text-align: left;
    height: auto;
  }
}