.footer-style {
  //height: 250px;
  background-color: #3d3536;
  color: $font-color-lite;
  font-family: $footer-font-family;
  [class^=col-]{
    padding: 25px;
  }
  
  .social-icon-footer a {
    color: #fff;
    i {
      padding: 5px;
    }
  }
  .social-icon-footer a:hover{
    color: $primary-color;
  }
  a{
    color: $font-color-lite;
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  a:hover{
    color: $primary-color;
  }
}

@media screen and (max-width: 992px){
  .footer-style{
    text-align: left;
    height:auto;
  }
}