/* Color variables */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Lora');
$primary-color:#48AECB;
$body-font-color: #818181;
$font-color-dark: #303030;
$font-color-lite:#fff;
$body-font:400 15px 'Lora', serif;
$post-title-color: #4e7496;
$section-title-color: #333;
$section-title-size:16px;
/* NavBar */
$navbar-font-family: 'Lora', serif;
$navbar-font-size: 16px;
$navbar-height: 70px;
$navbar-padding-top: $navbar-height/3;
$navbar-bg-color: #fff;
$navbar-link-color: #303030;

$navbar-brand-font-color: #00bfff;
$navbar-brand-font-size: 24px;
$navbar-brand-font-family: "Dancing Script", cursive;

/*Paralax slide var*/
$section-bg-color:rgb(246, 246, 246);
$bg-slide:url('img/bar-image.png') 50% 0 no-repeat fixed;

/* Carousel */
$carousel-h3-color: #ffece6;
$carousel-navigation-color: #f9f698;
$carousel-image-filter-color: #000;
$carousel-heading-color: $carousel-navigation-color;
/* Footer */
$footer-font-family:'Roboto', sans-serif;