
/* Restaurant site template*/
@import 'scss/partials/variables';
@import 'scss/partials/navbar';
@import 'scss/partials/footer';
@import 'scss/partials/carousel';
@import 'scss/partials/button-outline';

body {
  font: $body-font;
  line-height: 1.8;
  color: $body-font-color;
  padding-top: 70px;
}

.hr-double {
  border-top: 4px double !important;
}

h2 {
  font-size: 24px;
  color: $font-color-dark;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: $font-color-dark;
  font-weight: 400;
}
.post-title {
  color: $post-title-color;
  font-style: italic;
}

.image-center{
  margin: 0 auto;
}
.section-title {
  color: $section-title-color;
  text-transform: uppercase;
  font-size: $section-title-size;
  letter-spacing: 4px;
}

.container-padding {
  padding: 60px 20px;
}

.paralax-slide {
  //background: $bg-slide;
  color: $font-color-lite;
  margin: 0;
  padding: 0 0 260px 0;
  background-size: cover;
  .company-color {
    color: $primary-color;
  }
}
.section-text{
  padding: 15px 15px 15px 15px;
  p{
    letter-spacing: 1px;
  }
}
.section-text-left {
  @extend .section-text;
  max-width: 600px;
  border-top: 3px solid rgba(147,255,207, 0.5);
  border-right: 3px solid rgba(147,255,207, 0.5);
  border-bottom: 3px solid rgba(147,255,207, 0.5);

}

.section-text-menu {
  @extend .section-text;
  max-width: 600px;
  border-top: 3px solid rgba(147,255,207, 0.5);
  border-left: 3px solid rgba(147,255,207, 0.5);
  border-bottom: 3px solid rgba(147,255,207, 0.5);

  p{
    font-style: italic;
  }
}

.p-about {
  color: #000000;
}

.bg-grey {
  background-color: $section-bg-color;
}

.social-icon {
  a {
    color: #fff;
  }
  a:hover {
    color: $primary-color !important;
  }
  i {
    padding: 3px;
  }
  margin: 5px;
}

.address {
  font-size: 16px;
  padding-left: 30px;
}

.gallery {
  padding: 10px 0 10px 0;
}

.btn-resized{
  width: 250px;
  height: 57px;
  border-radius: 15px;
  vertical-align: middle;
  font-size: 22px;
  margin: 25px 0 15px 0;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.thumbnail {
  padding: 0 0 15px 0;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

/*-- #home Button  display when scroll--*/
.home {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3d3536;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
  position: fixed;
  z-index: 1111;

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
  }
}
.home-down{
  background-color: #57d8ff;
}
/* ---------------- Facebook left btn ----------------*/
.social-icon-left{
  font-size: 30px;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 999;
  @media screen and (max-width: 320px){
    display:none;
  }
}
/* ---------------- Animation ------------------------*/

.slideanim {
  visibility: hidden;
}

.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify
the percentage from when to slide in the element
along the Y-axis
*/
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);

  }
  100% {
    opacity: 1;
    transform: translateY(0%);

  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.hr {
  width: 35%;
  border-top: 1px solid #999;
  margin-bottom: 50px;
}

/* ----------------------------------- */
.gal {

  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;

}

.gal img {
  width: 100%;
  padding: 7px 0;
}
@media (max-width: 500px) {

  .gal {

    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;

  }
}