/* Restaurant site template*/
/* Color variables */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Lora");
/* NavBar */
/*Paralax slide var*/
/* Carousel */
/* Footer */
/* navbar styling */
.changednav {
  display: none;
  box-shadow: 1px 1px 8px #ccc; }

.navbar {
  background-color: #fff;
  border-radius: 0;
  border: 0; }

.navbar li a {
  color: #333 !important;
  height: 70px;
  padding: 23.33333px 10px;
  font-size: 16px !important;
  font-family: "Lora", serif;
  line-height: 1.42857143 !important;
  letter-spacing: 4px; }

.navbar .navbar-brand {
  color: #00bfff !important;
  font-size: 24px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  font-style: italic;
  letter-spacing: 2px; }
  @media screen and (max-width: 320px) {
    .navbar .navbar-brand {
      font-size: 18px; } }

.navbar-nav li a:hover, .navbar-nav li.active a {
  background-color: #fff !important;
  border-top-style: solid;
  border-top-color: #00bfff !important;
  border-top-width: 3px !important; }

.footer-style {
  height: 250px;
  background-color: #3d3536;
  color: #fff;
  font-family: "Roboto", sans-serif; }
  .footer-style [class^=col-] {
    padding: 5px; }
  .footer-style .social-icon-footer a {
    color: #fff; }
    .footer-style .social-icon-footer a i {
      padding: 5px; }
  .footer-style .social-icon-footer a:hover {
    color: #48AECB; }
  .footer-style a {
    color: #fff;
    text-decoration: none; }
  .footer-style li {
    list-style-type: none; }
  .footer-style a:hover {
    color: #48AECB; }

@media screen and (max-width: 992px) {
  .footer-style {
    text-align: left;
    height: auto; } }
/* Carousel base class */
.carousel {
  max-height: 600px; }

/* caption */
.carousel-caption {
  z-index: 10;
  top: 20%; }
  @media screen and (min-width: 1200px) {
    .carousel-caption .carousel-heading {
      font-size: 72px;
      margin-bottom: 0;
      padding-bottom: 0; }
    .carousel-caption .carousel-heading3 {
      color: #ffece6;
      font-size: 26px; } }
  @media screen and (min-width: 601px) and (max-width: 906px) {
    .carousel-caption {
      top: 0; }
      .carousel-caption .carousel-heading {
        font-size: 35px;
        margin-bottom: 0;
        padding-bottom: 0; }
      .carousel-caption .carousel-heading3 {
        color: #ffece6;
        font-size: 18px; } }
  @media screen and (min-width: 320px) and (max-width: 601px) {
    .carousel-caption .carousel-control.right, .carousel-caption .carousel-control.left {
      display: none; }
    .carousel-caption .carousel-indicators li {
      display: none; }
    .carousel-caption .carousel-caption {
      z-index: 10;
      top: 0; }
      .carousel-caption .carousel-caption .carousel-heading {
        font-size: 28px; }
      .carousel-caption .carousel-caption .carousel-heading3 {
        font-size: 16px;
        color: #ffece6; }
      .carousel-caption .carousel-caption .btn-resized {
        width: 150px;
        height: auto;
        font-size: 12px; } }

/* Carousel imafe color filter*/
.carousel-inner {
  background-color: #000; }

.carousel-inner > .item > img {
  filter: opacity(0.5); }

.carousel-heading {
  color: #f9f698; }

/* navigation */
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f9f698; }

.carousel-indicators li {
  border-color: y #f9f698; }

.carousel-indicators li.active {
  background-color: #f9f698; }

@media screen and (max-width: 320px) {
  .carousel {
    width: 320px;
    height: 180px;
    margin-bottom: 30px; }

  .carousel-indicators li {
    display: none; }

  .carousel .item {
    width: 320px;
    height: 180px; }

  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    width: 320px;
    height: 180px; }

  .carousel-caption {
    z-index: 10;
    top: 0; }
    .carousel-caption .carousel-heading {
      font-size: 24px; }
    .carousel-caption .carousel-heading3 {
      font-size: 16px;
      color: #ffece6; }
    .carousel-caption .btn-resized {
      width: 150px;
      height: auto;
      font-size: 16px; } }
/* ---------------- Bootstrap Button (outline)---------*/
.btn-outline {
  border-width: 2px;
  min-width: 150px;
  background-color: transparent;
  color: inherit;
  transition: all .5s; }

.btn-primary.btn-outline {
  color: #428bca; }

.btn-success.btn-outline {
  color: #5cb85c; }

.btn-info.btn-outline {
  color: #5bc0de; }

.btn-warning.btn-outline {
  color: #f0ad4e; }

.btn-danger.btn-outline {
  color: #d9534f; }

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff; }

/* Black buttons with extra padding and without rounded borders */
.btn-black {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  border-radius: 0;
  transition: .2s; }

/* On hover, the color of .btn will transition to white with black text */
.btn-black:hover {
  background-color: #333;
  color: #fff; }

body {
  font: 400 15px "Lora", serif;
  line-height: 1.8;
  color: #818181;
  padding-top: 70px; }

.hr-double {
  border-top: 4px double !important; }

h2 {
  font-size: 24px;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px; }

.post-title {
  color: #4e7496;
  font-style: italic; }

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400; }

.section-title {
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px; }

.container-padding {
  padding: 60px 50px; }

.paralax-slide {
  color: #fff;
  margin: 0;
  padding: 0 0 260px 0;
  background-size: cover; }
  .paralax-slide .company-color {
    color: #48AECB; }

.section-text, .section-text-left, .section-text-menu {
  padding: 15px 15px 15px 15px; }
  .section-text p, .section-text-left p, .section-text-menu p {
    letter-spacing: 1px; }

.section-text-left {
  max-width: 500px;
  border-top: 3px solid rgba(147, 255, 207, 0.5);
  border-right: 3px solid rgba(147, 255, 207, 0.5);
  border-bottom: 3px solid rgba(147, 255, 207, 0.5); }

.section-text-menu {
  max-width: 600px;
  border-top: 3px solid rgba(147, 255, 207, 0.5);
  border-left: 3px solid rgba(147, 255, 207, 0.5);
  border-bottom: 3px solid rgba(147, 255, 207, 0.5); }
  .section-text-menu p {
    font-style: italic; }

.p-about {
  color: #000000; }

.full-menu-link {
  font-size: 18px; }

.bg-grey {
  background-color: #f6f6f6; }

.social-icon {
  margin: 5px; }
  .social-icon a {
    color: #fff; }
  .social-icon a:hover {
    color: #48AECB !important; }
  .social-icon i {
    padding: 3px; }

.address {
  font-size: 16px;
  padding-left: 30px; }

.gallery {
  padding: 10px 0 10px 0; }

.btn-resized {
  width: 250px;
  height: 57px;
  border-radius: 15px;
  vertical-align: middle;
  font-size: 22px; }

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0; } }
.thumbnail {
  padding: 0 0 15px 0;
  border-radius: 0; }

.thumbnail img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px; }

/*-- #home Button  display when scroll--*/
.home {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3d3536;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
  position: fixed;
  z-index: 1111; }
  .home a {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff; }

.home-down {
  background-color: #93ffd0; }

/* ---------------- Facebook left btn ----------------*/
.social-icon-left {
  font-size: 30px;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 999; }

/* ---------------- Animation ------------------------*/
.slideanim {
  visibility: hidden; }

.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible; }

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%); } }
.hr {
  width: 35%;
  border-top: 1px solid #999;
  margin-bottom: 50px; }

/* ----------------------------------- */
.gal {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3; }

.gal img {
  width: 100%;
  padding: 7px 0; }

@media (max-width: 500px) {
  .gal {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1; } }

/*# sourceMappingURL=style.css.map */
