/* navbar styling */
.changednav {
  display: none;
  box-shadow: 1px 1px 8px #ccc;
}

.navbar {
  background-color: $navbar-bg-color;
  border-radius: 0;
  border: 0;

}

.navbar li a {
  color: #333 !important;
  height: $navbar-height;
  padding: $navbar-padding-top 10px;
  font-size: $navbar-font-size !important;
  font-family: $navbar-font-family;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
}


.navbar .navbar-brand {
  color: $navbar-brand-font-color !important;
  font-size: $navbar-brand-font-size;
  font-weight: bold;
  font-family: $navbar-brand-font-family;
  font-style: italic;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  background-color: #fff !important;
  border-top-style: solid;
  border-top-color: $navbar-brand-font-color !important;
  border-top-width: 3px !important;
}
